.bg-custom {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("./public/images/Mask group.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
